.new-post{
    padding: 16px 0;
    border-bottom: 1px solid #cccccc;
}
.new-post header,
.posts header{
    margin-bottom: 20px;
}
.posts .post{
    padding-left: 10px;
    border-left: 5px solid #a21b24 !important;
    margin-bottom: 20px;
}
.post .post .info{
    color: #aaa;
    font-style: italic;
}
.succcess-message-text{
    color: white;
}